.search-container {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.search-container-home{
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

input[type="text"] {
    width: 80%;
    max-width: 400px;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #d4a017;
    outline: none;
}

.suggestions {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.product a ,
.searchs{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #DEAD00;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.product a,
.links-card,
.searchs:hover {
    background-color: #d4a017;
    color: #fff;
}

.links-card{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.links-card:hover{
    color: #fff;
    background: #0067d4;
}

.reserve-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-button:hover {
    background-color: #218838;
}
.hid-card{
    display: none;
}

@media (max-width: 900px) {
    .products {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .product{
        width: auto;
    }
    
}

@media (max-width: 400px){
     .search-container{
        justify-content: center;
    }
    .input-search,
    .searchs{
        justify-content: center;
    }
}
    transition: background-color 0.3s ease;
}

.product a,
.links-card,
.searchs:hover {
    background-color: #0252a7;
    color: #fff;
}

.links-card{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.links-card:hover{
    color: #fff;
    background: #0067d4;
}

.reserve-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-button:hover {
    background-color: #218838;
}
.hid-card{
    display: none;
}

@media (max-width: 900px) {
    .products {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .product{
        width: auto;
    }
    
}

@media (max-width: 400px){
     .search-container{
        justify-content: center;
    }
    .input-search,
    .searchs{
        justify-content: center;
    }
}

